* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
}

.header {
    color: #000;
}

.container {
    max-width: 550px;
    margin: 0 auto;
}

.nav-wrapper {
    border-bottom: #FF3B5C 1px solid;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #FF3B5C;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list__link_active {
    color: #FF3B5C;
    font-size: 14px;
}
.nav-list__link,
.nav-list__link {
    color: #777;
    font-size: 14px;
}

.nav-lang__btn {
    display: flex;
    gap: 7px;
}

.russian-lang__btn {
    color: #FF3B5C;
    font-size: 16px;
}

.english-lang__btn {
    color: #777;
    font-size: 16px;
}

.developer-list {
    margin-top: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.text-content {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}

.update-list__btn {
    color: #FF3B5C;
    font-size: 13px;
}

.list {
    margin-top: 15px;
}

.item-box {
    width: 100%;
    height: 69px;
    border-radius: 10px;
    color: #fff;
    background: #303030;
    border: #505055 1px solid;
    margin-bottom: 8px;
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
}

.item-wrapper {
    display: flex;
    align-items: center;
}

.item-charts {
    color: #FF3B5C;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 7px;
    border: #FF3B5C 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #bebebe 3px solid;
    margin-right: 10px;
}

.username {
    font-size: 14px;
    font-weight: 700;
}

.name {
    font-size: 12px;
    color: #777;
    font-weight: 700;
}

.boys {
    font-size: 12px;
    color: #777;
    font-weight: 700;
}

.icon-wrapper {
    display: flex;
}


/* icon-light */
/* .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #bebebe 1px solid;
    margin-left: 5px;
    cursor: pointer;
} */

.icon img {
    width: 20px;
    height: 20px;
}

/* icon-dark */
.icon {
    width: 35px;
    height: 35px;
    background: #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #505055 1px solid;
    margin-left: 5px;
    cursor: pointer;
}

.footer {
    border-top: #FF3B5C 1px solid;
    margin-top: 15px;
    padding: 30px 0;
}

.copyright {
    color: #FF3B5C;
    font-size: 12px;
}

.copyright a {
    color: #777;
}

@media (max-width: 880px) {
    .container {
        max-width: 880px;
        padding: 0 12px;
    }
}

@media (max-width: 375px) {
    .icon img {
        width: 35px;
        height: 35px;
    }
}